:root {
    --main-bg-color: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(153,29,253,1) 50%, rgba(252,176,69,1) 100%);
    --header-footer-bg-color: linear-gradient(90deg, rgba(146,58,159,0.75) 0%, rgba(233,247,54,0.75) 50%, rgba(146,58,159,0.75) 100%);
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: var(--main-bg-color);
    display: flex;
    flex-direction: column;
}
  
* {
    box-sizing: border-box;
}

.header {
	max-height: 100px;
    padding: 0px 20px 0 20px;
    margin: 0 40px 0 40px;
    background: var(--header-footer-bg-color);
}

.header--sticky {
    position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.header--rounded {
    border-radius: 10px;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
}

.footer {
    padding: 20px;
    margin: 0 40px 0 40px;
	background: var(--header-footer-bg-color);
    flex-shrink: 0;
}

.footer--rounded {
    border-radius: 10px;
    border-top-right-radius: 45px;
    border-top-left-radius: 45px;
}

.carousel {
    background-color: grey;
    width: 500px;
    height: 500px;
    justify-self: center;
    position: relative;
}

.carousel__content {
    display: flex;
    width: 100%;
    height: 500px;
}

.carousel__content__item {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    height: 500px;
    width: 500px;
    transition: visibility 1s, opacity 0.5s linear;
}

.button {
    background: transparent;
    outline: none;
    border: none;
}

.button--hanging-left {
    position: absolute;
    top: 212px;
    left: -80px;
}

.button--hanging-right {
    position: absolute;
    top: 212px;
    right: -80px;
}

.visible {
    display: block;
    visibility: visible;
    opacity: 1;
}

.arrow-right-icon::before {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url('./assets/arrow-right.svg');
}

.items-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.centered-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
}

.items-container__item {
    padding: 20px;
    width: 200px;
    height: 250px;
    background-color: yellow;
    margin: 20px;
}

.logo-img {
    width: 35px;
    height: 50px;
}

.inline-flex {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

.content {
	padding: 130px 40px 40px;
    flex: 1 0 auto;
}